In [ ]:
1. Write a program to accept percentage from the user and display the grade according to the following criteria
  
    ##grade
    ##Marks
    
    A
    >90             

    B
    >80 and <=90     
    
    C
    >=60 and <=80    
    
    D
    below 60

ANS:

In [30]:
percentage=int(float(input("enter your percentage")))
if percentage>90:
      print("Grade A")
elif percentage>80 and percentage<=90:
    print("Grade B")
elif percentage>=60 and percentage<=80:
    print("Grade C")
else:
    print("Grade D")

enter your percentage 85

Grade B

In [ ]:
2. Write a program to accept the cost price of a bike and display the road tax to be paid according to the 
following criteria: 
Tax 
15% 
10% 
5% 
Cost Price(in Rs) 
>100000 
>50000 and <= 100000 
<= 50000

ANS:

In [34]:
cost_price=int(float(input("Enter your cost_price")))
if cost_price>100000:
    print("Tax is 15%")
elif cost_price>50000 and cost_price<=100000:
    print("Tax is 10%")
else:
    print("tax is 5%")

Enter your cost_price 80000

Tax is 10%

3. Accept any city from the user and display monuments of that city. 

 City:   
 Delhi,
 Agra,
 jaypur

monument:
Red Fort, 
Taj Mahal, 
Jal Mahal

ANS:

In [51]:

City_name=input("enter your city name")
if City_name=="Delhi":
    print("Red Forte")
elif City_name=="Agra":
        print("Taj Mahal")
else:
    if City_name=="Jaypur":
        print("Jal Mahal")

enter your city name Jaypur

Jal Mahal

4. Check how many times a given number can be divided by 3 before it is less than or equal to 10.

ANS:

In [ ]:
number=0
while number<=10:
    if number%3==0:
        print(number)
        number=number+1
        
    else:
        print("Exit")

5. Why and When to Use while Loop in Python give a detailed description with example

ANS:

Python while loop is used to run a block code until a certain condition is met. Here, A while loop evaluates the condition. If the condition evaluates to True , the code inside the while loop is executed.

example:

In [3]:
##write a code using while loop for withdraw money 1000 Rs 
##each time only 100 can be withdraw and when atm or account 
##ran out of money print money is exhuasted
money=100
while money<=1000:
    print(money)
    money=money+100
else:
    print("money is exhuasted")

100
200
300
400
500
600
700
800
900
1000
money is exhuasted

In [4]:
## code for printing exit by until its become 10
exit=1
while exit<=10:
    print(exit)
    exit=exit+1
else:
    print("exit")

1
2
3
4
5
6
7
8
9
10
exit

6. Use nested while loop to print 3 different pattern.

ANS:

In [5]:
n=6
for i in range(0,n):
    for j in range(0,i+1):
        print("*",end=" ")
    print("\r")

*
* *
* * *
* * * *
* * * * *
* * * * * *

In [34]:
n=6
for i in range(0,n):
    for j in range(0,i+1):
        print("*",end="")

*********************

In [35]:
n=6
for i in range(0,n):
    for j in range(0,i+1):
        print("*")

*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*

7. Reverse a while loop to display numbers from 10 to 1.

ANS:

In [51]:
exit=10
while exit!=0:
    print(exit)
    exit=exit-1

10
9
8
7
6
5
4
3
2
1