Q1. What is a database? Differentiate between SQL and NoSQL databases.

ANS:

SQL databases are vertically scalable, while NoSQL databases are horizontally scalable. SQL databases are table-based, while NoSQL databases are document, key-value, graph, or wide-column stores. SQL databases are better for multi-row transactions, while NoSQL is better for unstructured data like documents

Q2. What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.

ANS:

DDL statements are similar to a computer programming language for defining data structures, especially database schemas.
1 CREATE :
Its used to create the table, schema
"CREATE TABLE if not exists test1.test_table (c1 INT, c2 VARCHAR(50), c3 FLOAT, c4 INT, c5 VARCHAR(40))

2 DROP:
Drop SQL statements are used to drop or delete the database objects

SQL> drop table emp;

3 ALTER:
Alter command is used to modify database objects such as tables etc. Its used to add, drop and rename the columns of the table
 alter table hr.emp add (phone number, email varchar2(35));
 
4 TRUNCATE:
This SQL statement deletes all the rows that are present in the table

SQL> truncate table emp;

Q3. What is DML? Explain INSERT, UPDATE, and DELETE with an example.

ANS:

DML is an abbreviation for Data Manipulation Language. Represents a collection of programming languages explicitly used to make changes to the database, such as: CRUD operations to create, read, update and delete data. Using INSERT, SELECT, UPDATE, and DELETE commands.

1 INSERT:
Insert command is used to insert data into a table
eg.mycursor.execute("insert into test1.test_table value(123, 'shekhar', 456, 45.4, 'kadam')"

2 UPDATE:
Update command is used to update existing data within a table
eg.UPDATE Employee SET Emp_name= Ram WHERE Emp_id= 001;

3 DELETE:
Delete command is used to delete records from a database table
eg.DELETE from Employee WHERE Emp_id=002;

Q4. What is DQL? Explain SELECT with an example.

ANS:

 DQL is Data Query Language. DQL is a part of the grouping involved in SQL (Structures Query Language) sub-languages.
 
 SELECT: It is used to retrieve data from the database.
 SELECT column1, column2 FROM table1, table2 WHERE column2='value

Q5. Explain Primary Key and Foreign Key.

ANS:

A primary key is a unique identifier for each record in a table. A foreign key establishes a relationship between tables by referencing the primary key of another table

Q6. Write a python code to connect MySQL to python. Explain the cursor() and execute() method.

ANS:

In [ ]:
import mysql.connector
mydb=mysql.connector.connect(
    host="localhost",
    user="abc",
    password="password"
)
print(mydb)
mycursor=mydb.cursor()
mycursor.execute("SHOW DATABASES")
for x in mycursor:
    print(x)

1 Cursor objects interact with the MySQL server using a MySQLConnection object. Several related classes inherit from MySQLCursor . To create a cursor of one of these types, pass the appropriate arguments to cursor() : MySQLCursorBuffered creates a buffered cursor.

2 This method executes the given database operation (query or command)

Q7. Give the order of execution of SQL clauses in an SQL query.

ANS:

#1.FROM=	        Tables are joined to get the base data.
#2.WHERE=	    The base data is filtered.
#3.GROUP BY=	    The filtered base data is grouped.
4.HAVING=	    The grouped base data is filtered.
5.SELECT=	    The final data is returned.
6.ORDER BY=	    The final data is sorted.
7.LIMIT=	    The returned data is limited to row count