Q1. What is MongoDB? Explain non-relational databases in short. In which scenarios it is preferred to use
MongoDB over SQL databases?

ANS:

-MongoDB is such a NoSQL database that scales by adding more and more servers and increases productivity with its flexible document model.

-A non-relational database is a database that does not use the tabular schema of rows and columns found in most traditional database systems. Instead, non-relational databases use a storage model that is optimized for the specific requirements of the type of data being stored.

-SQL databases are used to store structured data while NoSQL databases like MongoDB are used to save unstructured data. MongoDB is used to save unstructured data in JSON format. MongoDB does not support advanced analytics and joins like SQL databases support.

Q2. State and Explain the features of MongoDB.

ANS:

1. Schema-less Database:   A Schema-less database means one collection can hold different types of documents in it. Or in other words, in the MongoDB database, a single collection can hold multiple documents and these documents may consist of the different numbers of fields, content, and size

2. Document Oriented:   In MongoDB, all the data stored in the documents instead of tables like in RDBMS. In these documents, the data is stored in fields(key-value pair) instead of rows and columns which make the data much more flexible in comparison to RDBMS. And each document contains its unique object id.

3. Indexing:    In MongoDB database, every field in the documents is indexed with primary and secondary indices this makes easier and takes less time to get or search data from the pool of the data. If the data is not indexed, then database search each document with the specified query which takes lots of time and not so efficient.

4. Scalability:    MongoDB provides horizontal scalability with the help of sharding. Sharding means to distribute data on multiple servers, here a large amount of data is partitioned into data chunks using the shard key, and these data chunks are evenly distributed across shards that reside across many physical servers. It will also add new machines to a running database.

5. Replication:    MongoDB provides high availability and redundancy with the help of replication, it creates multiple copies of the data and sends these copies to a different server so that if one server fails, then the data is retrieved from another server.

6. Aggregation:    It allows to perform operations on the grouped data and get a single result or computed result. It is similar to the SQL GROUPBY clause. It provides three different aggregations i.e, aggregation pipeline, map-reduce function, and single-purpose aggregation methods

7. High Performance: The performance of MongoDB is very high and data persistence as compared to another database due to its features like scalability, indexing, replication, etc.

8. Sharding:    Sharding in MongoDB allows for much greater horizontal scalability. Horizontal scaling means that each shard in every cluster houses a portion of the dataset in question, essentially functioning as a separate database. Combining the data of the distributed shards forms a single, comprehensive database much better suited to handling the needs of a popular, growing application with zero downtime.

9. ad-hoc querry:    An ad-hoc query is a short-lived command whose value depends on a variable. Each time an ad-hoc query is executed, the result may be different, depending on the variables in question.

Q3. Write a code to connect MongoDB to Python. Also, create a database and a collection in MongoDB.

In [9]:
import pymongo
client=pymongo.MongoClient("mongodb+srv://shekharkadam:Mymongodb@cluster0.17v3z1d.mongodb.net/?retryWrites=true&w=majority")
db=client.test

In [10]:
pip install pymongo

Requirement already satisfied: pymongo in /opt/conda/lib/python3.10/site-packages (4.6.1)
Requirement already satisfied: dnspython<3.0.0,>=1.16.0 in /opt/conda/lib/python3.10/site-packages (from pymongo) (2.4.2)
Note: you may need to restart the kernel to use updated packages.

In [11]:
client

MongoClient(host=['ac-szwv7ez-shard-00-00.17v3z1d.mongodb.net:27017', 'ac-szwv7ez-shard-00-02.17v3z1d.mongodb.net:27017', 'ac-szwv7ez-shard-00-01.17v3z1d.mongodb.net:27017'], document_class=dict, tz_aware=False, connect=True, retrywrites=True, w='majority', authsource='admin', replicaset='atlas-w96olt-shard-0', tls=True)

In [12]:
client=pymongo.MongoClient("mongodb+srv://shekharkadam:Mymongodb@cluster0.17v3z1d.mongodb.net/?retryWrites=true&w=majority")

In [13]:
db=client["shekhar"]

In [14]:
coll_create=db["my_record"]

Q4. Using the database and the collection created in question number 3, write a code to insert one record, and insert many records. Use the find() and find_one() methods to print the inserted record.

ANS:

In [15]:
data={"name":"shekhar",
      "class":"data science",
      "age":"27"
     }

In [16]:
coll_create.insert_one(data)

InsertOneResult(ObjectId('6595636eef8cf1557d87c927'), acknowledged=True)

In [19]:
data1=[{"email_id":"sk@123",
       "phone_number":5535336},
       {"1":"2","3":[5,6,7]},
       {"field":"engineering","branch":"entc"}
]

In [20]:
coll_create.insert_many(data1)

InsertManyResult([ObjectId('65956535ef8cf1557d87c928'), ObjectId('65956535ef8cf1557d87c929'), ObjectId('65956535ef8cf1557d87c92a')], acknowledged=True)

In [21]:
for i in coll_create.find():
    print(i)

{'_id': ObjectId('6595419cf5e121af7a37cab3'), 'name': 'shekhar', 'class': 'data science', 'age': '28'}
{'_id': ObjectId('65954342f5e121af7a37cab4'), 'email_id': 'sk@123', 'phone_number': 5535336}
{'_id': ObjectId('65954470f5e121af7a37cab5'), 'name': ['shekhar', 'pawan', 'basu'], 'age': ['27', '18', '20']}
{'_id': ObjectId('6595636eef8cf1557d87c927'), 'name': 'shekhar', 'class': 'data science', 'age': '27'}
{'_id': ObjectId('65956535ef8cf1557d87c928'), 'email_id': 'sk@123', 'phone_number': 5535336}
{'_id': ObjectId('65956535ef8cf1557d87c929'), '1': '2', '3': [5, 6, 7]}
{'_id': ObjectId('65956535ef8cf1557d87c92a'), 'field': 'engineering', 'branch': 'entc'}

In [22]:
coll_create.find_one()

{'_id': ObjectId('6595419cf5e121af7a37cab3'),
 'name': 'shekhar',
 'class': 'data science',
 'age': '28'}

Q5. Explain how you can use the find() method to query the MongoDB database. Write a simple code to
demonstrate this.

ANS:

To return all documents in a collection, omit this parameter or pass an empty document ({}).

In [23]:
for i in coll_create.find({"name":"shekhar"}):
    print(i)

{'_id': ObjectId('6595419cf5e121af7a37cab3'), 'name': 'shekhar', 'class': 'data science', 'age': '28'}
{'_id': ObjectId('65954470f5e121af7a37cab5'), 'name': ['shekhar', 'pawan', 'basu'], 'age': ['27', '18', '20']}
{'_id': ObjectId('6595636eef8cf1557d87c927'), 'name': 'shekhar', 'class': 'data science', 'age': '27'}

Q6. Explain the sort() method. Give an example to demonstrate sorting in MongoDB.

ANS:

The sort() method specifies the order in which the query returns the matching documents from the given collection.

In [28]:
for i in coll_create.find().sort({"age":1}):
    print(i)

{'_id': ObjectId('65954342f5e121af7a37cab4'), 'email_id': 'sk@123', 'phone_number': 5535336}
{'_id': ObjectId('65956535ef8cf1557d87c928'), 'email_id': 'sk@123', 'phone_number': 5535336}
{'_id': ObjectId('65956535ef8cf1557d87c929'), '1': '2', '3': [5, 6, 7]}
{'_id': ObjectId('65956535ef8cf1557d87c92a'), 'field': 'engineering', 'branch': 'entc'}
{'_id': ObjectId('65954470f5e121af7a37cab5'), 'name': ['shekhar', 'pawan', 'basu'], 'age': ['27', '18', '20']}
{'_id': ObjectId('6595636eef8cf1557d87c927'), 'name': 'shekhar', 'class': 'data science', 'age': '27'}
{'_id': ObjectId('6595419cf5e121af7a37cab3'), 'name': 'shekhar', 'class': 'data science', 'age': '28'}

Q7. Explain why delete_one(), delete_many(), and drop() is used.

ANS:

-Deleting document from Collection or Database. In MongoDB, a single document can be deleted by the method delete_one()

-Delete_many() is used when one needs to delete more than one document.

-drop() is used for drop or delete all data records in mongodb